# Testing
# pytest
selenium==4.8.3
webdriver-manager==3.8.6

# Utils
ipython==8.12.0

# Linters y Formatters

pre-commit==3.2.2

black[jupyter]==23.3.0

wemake-python-styleguide==0.17.0
# Están comentados por qué los instala wemake y delegamos su instalación
# flake8-bugbear
# flake8-comprehensions
# flake8-commas
# mccabe
# flake8-docstrings
# pycodestyle
# flake8-eradicate
# flake8
# flake8-isort
# flake8-broken-line
# pep8-naming
# flake8-string-format
# flake8-quotes
# flake8-bandit
# flake8-debugger
# flake8-rst-docstrings
# darglint
# pydocstyle
# bandit
# isort

flake8-coding==1.3.2
flake8-class-attributes-order==0.1.3
dlint==0.14.1

Werkzeug==2.2.3 # for runserver_plus


# Publication
# pip-licenses-3.5.4
