-- Deploy [% change %]
[% FOREACH item IN requires -%]
-- requires: [% item %]
[% END -%]
[% FOREACH item IN conflicts -%]
-- conflicts: [% item %]
[% END -%]

BEGIN;

ALTER TABLE [%IF schema %][% schema %].[%END%][%IF table %][% table %][%ELSE%][% change %][%END%] ADD COLUMN [% column %] [%type%] [%IF notnull=='true' %] NOT NULL [%END%] [%IF default %] DEFAULT [%default%] [%END%];

COMMIT;
