-- Deploy create_owner

BEGIN;

CREATE ROLE :"owner" WITH NOSUPERUSER NOCREATEDB NOCREATEROLE NOINHERIT NOLOGIN NOREPLICATION PASSWORD :'owner_pass';
ALTER DATABASE :"database" OWNER TO :"owner";

COMMIT;
